.btn {
  border: 0;
  border-radius: $radius-sm;
  display: inline-block;
  font-weight: $weight-bold;
  overflow: hidden;
  padding: $sm $md;
  position: relative;
  text-decoration: none;

  .span {
    position: relative;
    z-index: 1;
  }

  + .btn {
    margin-left: $md;
  }
}

.btn-white {
  background: rgba($white,.1);
  box-shadow: 0 0 0 2px rgba($white,.75);
  color: $white;
  transform-origin: 50% 0;
  transition: background .3s cubic-bezier(.22,.61,.36,1),box-shadow .3s cubic-bezier(.22,.61,.36,1);

  &:hover,
  &:active {
    background: rgba($white,.15);
    box-shadow: 0 0 0 2px $white;
  }
}

.btn-white-outline {
  box-shadow: 0 0 0 1px rgba($white,.25);
  color: rgba($white,.75);
  transition: box-shadow .3s cubic-bezier(.22,.61,.36,1),color .3s cubic-bezier(.22,.61,.36,1);

  &:hover,
  &:active {
    box-shadow: 0 0 0 2px $white;
    color: $white;
  }
}

.btn-orange {
  color: $white;

  &:hover::before,
  &:active::before {
    animation: btn 1s infinite linear;
  }

  &::before {
    background-image: linear-gradient(105deg,$orange,$orange-light,$orange);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 500%;
  }
}

.btn-outline.btn-orange {
  border: 1px solid $orange;
  color: $orange;
}

@keyframes btn {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80%);
  }
}
