.btn {
  border-radius: $radius-sm;
  display: inline-block;
  font-size: 16px;
  padding: $xs $sm;
  text-decoration: none;

  + .btn {
    margin-left: $sm;
  }
}

.btn-primary {
  border: 0;
  color: $white;
  overflow: hidden;
  position: relative;

  &:hover::before,
  &:active::before {
    animation: btn 1s infinite linear;
  }

  &::before {
    background-image: linear-gradient(105deg,$orange,$orange-light,$orange);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 500%;
  }

  .span {
    position: relative;
    z-index: 1;
  }

  @keyframes btn {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-80%);
    }
  }
}

.btn-secondary {
  border: 1px solid $orange;
  color: $orange;
}
