.hero,
.section-callout {
  border-radius: $radius-md;
  overflow: hidden;
}

.hero {
  color: $white;
  padding-left: $lg;
  padding-right: $lg;
}

.section-callout {
  padding-left: $xl;
  padding-right: $xl;
}
