// figure
.figure {
  margin: $lg auto;
  max-width: 600px;

  &.figure-xl {
    max-width: 840px;
  }

  &.figure-xxl {
    max-width: 1000px;
  }
}

.figcaption {
  color: $gray;
  font-size: 14px;
  margin-top: $md;
  text-align: center;

  .link::after {
    height: 1px;
  }
}

.img-wrapper {
  border-radius: $radius-sm;
  box-shadow: 0 3px 9px rgba($black,.03);
  margin-bottom: $lg;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.img,
.video {
  box-shadow: 0 0 20px rgba($black,.2);
  display: block;
  height: auto;
  max-width: 100%;

  &.no-shadow {
    box-shadow: none;
  }
}
