// box model reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: $white;
  color: $black;
  font-family: $sans-serif;
  font-feature-settings: 'kern';
  line-height: 1.5;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; // kerning magic
}

// svg files
.svg-defs {
  // we _never_ want this element to be visible or affect flow
  // scss-lint:disable ImportantRule
  height: 0 !important;
  position: absolute !important;
  visibility: hidden !important;
  width: 0 !important;
  // scss-lint:enable ImportantRule
}
