// box model reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: $gray-lighter;
  color: $black;
  font-family: $sans-serif;
  font-feature-settings: 'kern';
  font-size: 22px;
  line-height: 1.5;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; // kerning magic
}

// main
.main-landing {
  padding-bottom: $lg;

  .container {
    max-width: 600px;
  }

  .section + .section {
    margin-top: $lg;
  }
}
