// box model reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: $gray-light;
  color: $black;
  font-family: $sans-serif;
  font-feature-settings: 'kern';
  font-size: 18px;
  letter-spacing: -.2px;
  line-height: 1.5;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; // kerning magic
}
