.weight-light {
  font-weight: $weight-light;
}

.weight-normal {
  font-weight: $weight-normal;
}

.weight-bold {
  font-weight: $weight-bold;
}

.monospace {
  font-family: $monospace;
}

// links
.link {
  border-bottom: 2px solid currentColor;
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  font-weight: $weight-bold;
  line-height: 1;
  text-decoration: none;

  &:hover,
  &:active {
    opacity: .75;
  }
}

// text container
.text-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  width: 100%;
}

.text-container-lg {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}
