.weight-light {
  font-weight: $weight-light;
}

.weight-normal {
  font-weight: $weight-normal;
}

.weight-bold {
  font-weight: $weight-bold;
}

.monospace {
  font-family: $monospace;
}

// links
.link {
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  font-weight: $weight-bold;
  line-height: 1;
  position: relative;
  text-decoration: none;

  &::after {
    background: currentColor;
    background-size: 285% 100%;
    border-radius: 2px;
    bottom: -1px;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }

  &:hover,
  &:active {

    .span,
    &::after {
      animation: rainbow 2s infinite linear;
      background-image: linear-gradient(135deg,$purple 0%,$blue 12.5%,$green 25%,$orange 37.5%,$red 50%,$purple 62.5%,$blue 75%,$green 87.5%,$orange 100%);
    }

    .span {
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
  }

  @keyframes rainbow {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 100% 0;
    }
  }

  .span {
    // scss-lint:disable VendorPrefix
    -webkit-background-clip: text;
    // scss-lint:enable VendorPrefix
    background-clip: text;
    background-size: 285% 100%;
  }
}

// text container
.text-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  width: 100%;
}

.text-container-lg {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}
