.weight-light {
  font-weight: $weight-light;
}

.weight-normal {
  font-weight: $weight-normal;
}

.weight-bold {
  font-weight: $weight-bold;
}

.monospace {
  font-family: $monospace;
}

// links
.link {
  border-bottom: 2px solid currentColor;
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  font-weight: $weight-bold;
  line-height: 1;
  text-decoration: none;

  &:hover,
  &:active {
    opacity: .75;
  }
}
