// font stack
$monospace: 'Monaco', monospace;
$sans-serif: -apple-system, 'BlinkMacSystemFont', 'Helvetica Neue', 'Segoe UI', sans-serif;
$weight-bold: 600;
$weight-normal: 400;
$weight-light: 200;

// colors
$black: #333;
$gray: #777;
$gray-light: #fafafa;

$blue: #2086ef;
$orange: #e39f0e;
$orange-light: #fbc949;
$purple: #8414f2;
$white: #fff;

// dimensions
$xxl: 120px;
$xl: 80px;
$lg: 40px;
$md: 20px;
$sm: 10px;
$xs: 5px;

// border-radius
$radius-sm: 4px;
$radius-md: 8px;
