// font stack
$monospace: 'Monaco', monospace;
$sans-serif: -apple-system, 'BlinkMacSystemFont', 'Helvetica Neue', 'Segoe UI', sans-serif;
$weight-bold: 600;
$weight-normal: 400;
$weight-light: 200;

// colors
$black: #333;
$gray-light: #fafafa;
$purple: #8414f2;
$white: #fff;

// dimensions
$xl: 80px;
$lg: 40px;
$md: 20px;
$sm: 10px;

// border-radius
$radius-sm: 2px;
$radius-md: 6px;
