// font stack
$monospace: 'Source Code Pro', monospace;
$sans-serif: -apple-system, 'BlinkMacSystemFont', 'Helvetica Neue', 'Segoe UI', sans-serif;
$weight-bold: 500;
$weight-normal: 400;
$weight-light: 300;

// colors
$black: #000;
$white: #fff;

// dimensions
$lg: 40px;
$md: 20px;
$sm: 10px;
