/* nav */
@keyframes opacity-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes opacity-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/* swipe animation */
@mixin swipe() {
	-webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
};

/* spin animation */
@keyframes spin {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

/* delayed opacity animation */
@keyframes delayed-opacity {
	0% { opacity:0; }
	50% { opacity:1; }
	100% { opacity:0; }
}
@-webkit-keyframes delayed-opacity {
	0% { opacity:0; }
	10% { opacity:1; }
	50% { opacity:1; }
	90% { opacity:1; }
	100% { opacity:0; }
}

/* big-entrance */
@keyframes big-entrance {
	0% {
		transform: translate3d(-30%, 30%, 0) rotate(6deg) scale(0.3);
		opacity: 0.2;
	}
	70% {
		transform: translate3d(-2%, 2%, 0) rotate(-2deg) scale(1.03);
		opacity: 1;
	}
	100% {
		transform: translate3d(0%, 0%, 0) rotate(0) scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes big-entrance {
	0% {
		-webkit-transform: translate3d(-30%, 30%, 0) rotate(6deg) scale(0.3);
		opacity: 0.2;
	}
	70% {
		-webkit-transform: translate3d(-2%, 2%, 0) rotate(-2deg) scale(1.03);
		opacity: 1;
	}
	100% {
		-webkit-transform: translate3d(0%, 0%, 0) rotate(0) scale(1);
		opacity: 1;
	}
}

/* hatch */
.hatch.active {
	@include vendors(animation, hatch 2s ease-in-out);
	@include vendors(transform-origin, 90% 100%);
}

@keyframes hatch {
	0% {
		transform: rotate3d(1, 1, 1, 0deg) scale3d(1, 0.9, 1);
	}
	20% {
		transform: rotate3d(1, 1, 1, -2deg) scale3d(1, 1.1, 1);
	}
	35% {
		transform: rotate3d(1, 1, 1, 2deg) scale3d(1, 1, 1);
	}
	50% {
		transform: rotate3d(1, 1, 1, -2deg);
	}
	65% {
		transform: rotate3d(1, 1, 1, 1deg);
	}
	80% {
		transform: rotate3d(1, 1, 1, -1deg);
	}
	100% {
		transform: rotate3d(0deg);
	}
}

@-webkit-keyframes hatch {
	0% {
		-webkit-transform: rotate3d(1, 1, 1, 0deg) scale3d(1, 0.9, 1);
	}
	20% {
		-webkit-transform: rotate3d(1, 1, 1, -2deg) scale3d(1, 1.1, 1);
	}
	35% {
		-webkit-transform: rotate3d(1, 1, 1, 2deg) scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: rotate3d(1, 1, 1, -2deg);
	}
	65% {
		-webkit-transform: rotate3d(1, 1, 1, 1deg);
	}
	80% {
		-webkit-transform: rotate3d(1, 1, 1, -1deg);
	}
	100% {
		-webkit-transform: rotate3d(1, 1, 1, 0deg);
	}
}

/* pulse */
.pulse.active {
	@include vendors(animation, pulse 1.5s);
}

@keyframes pulse {
	0% {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
	35% {
		transform: scale3d(0.5, 0.5, 1);
		opacity: 0.5;
	}
	70% {
		transform: scale3d(1.2, 1.2, 1);
		opacity: 0.5;
	}
	100% {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		opacity: 1;
	}
	35% {
		-webkit-transform: scale3d(0.5, 0.5, 1);
		opacity: 0.5;
	}
	70% {
		-webkit-transform: scale3d(1.2, 1.2, 1);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

/* bounce */
.bounce.active {
	@include vendors(animation, bounce 1.6s ease);
	@include vendors(transform-origin, 50% 100%);
}

@keyframes bounce {
	0% {
		transform: translate3d(0, 0%, 0) scale3d(1, 0.6, 1);
	}
	60%{
		transform: translate3d(0, -50%, 0) scale3d(1, 1.1, 1);
	}
	70%{
		transform: translate3d(0, 0%, 0) scale3d(1.05, 0.95, 1);
	}
	80%{
		transform: translate3d(0, 0%, 0) scale3d(1, 1.05, 1);
	}
	90%{
		transform: translate3d(0, 0%, 0) scale3d(1, 0.95, 1);
	}
	100%{
		transform: translate3d(0, 0%, 0) scale3d(1, 1, 1);
	}
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translate3d(0, 0%, 0) scale3d(1, 0.6, 1);
	}
	60%{
		-webkit-transform: translate3d(0, -50%, 0) scale3d(1, 1.1, 1);
	}
	70%{
		-webkit-transform: translate3d(0, 0%, 0) scale3d(1.05, 0.95, 1);
	}
	80%{
		-webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1.05, 1);
	}
	90%{
		-webkit-transform: translate3d(0, 0%, 0) scale3d(1, 0.95, 1);
	}
	100%{
		-webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1);
	}
}


/* tossing */
.tossing.active {
	@include vendors(animation, tossing 2.5s);
}

@keyframes tossing {
	0% {
		transform: rotate3d(0, 0, 1, 0);
	}
	25% {
		transform: rotate3d(0, 0, 1, 40deg);
	}
	50% {
		transform: rotate3d(0, 0, 1, -40deg);
	}
	75% {
		transform: rotate3d(0, 0, 1, 40deg);
	}
	100% {
		transform: rotate3d(0, 0, 1, 0);
	}
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate3d(0, 0, 1, 0);
	}
	25% {
		-webkit-transform: rotate3d(0, 0, 1, 40deg);
	}
	50% {
		-webkit-transform: rotate3d(0, 0, 1, -40deg);
	}
	75% {
		-webkit-transform: rotate3d(0, 0, 1, 40deg);
	}
	100% {
		-webkit-transform: rotate3d(0, 0, 1, 0);
	}
}

/* fading */
#wywh .inning .arrow,
#wywh .outing .arrow {
	@include vendors(animation, fading 3.5s);
}

#emailc .inning .arrow,
#emailc .outing .arrow {
	@include vendors(animation, fading 2s);
}

#stylepro .inning .arrow,
#stylepro .outing .arrow {
	@include vendors(animation, fading 2s);
}

@keyframes fading {
	0% {
		transform: scale3d(1,1,1);
		opacity: 1;
	}
	20% {
		transform: scale3d(1.2,1.2,1);
		opacity: 0.8;
	}
	40% {
		transform: scale3d(0.8,0.8,1);
		opacity: 0.6;
	}
	60% {
		transform: scale3d(1.2,1.2,1);
		opacity: 0.4;
	}
	80% {
		transform: scale3d(0.8,0.8,1);
		opacity: 0.2;
	}
	100% {
		transform: scale3d(1,1,1);
		opacity: 0;
	}
}

@-webkit-keyframes fading {
	0% {
		-webkit-transform: scale3d(1,1,1);
		opacity: 1;
	}
	20% {
		-webkit-transform: scale3d(1.2,1.2,1);
		opacity: 0.8;
	}
	40% {
		-webkit-transform: scale3d(0.8,0.8,1);
		opacity: 0.6;
	}
	60% {
		-webkit-transform: scale3d(1.2,1.2,1);
		opacity: 0.4;
	}
	80% {
		-webkit-transform: scale3d(0.8,0.8,1);
		opacity: 0.2;
	}
	100% {
		-webkit-transform: scale3d(1,1,1);
		opacity: 0;
	}
}

/* email width */
footer.in .email-width {
	@include vendors(animation, 0.5s emailWidth ease-in-out forwards);
}

@keyframes emailWidth {
	0% {
		width: 0;
	}
	50%{
		width: 135px;
	}
	75%{
		width: 125px;
	}
	100% {
		width: 130px;
	}
}

@-webkit-keyframes emailWidth {
	0% {
		width: 0;
	}
	50%{
		width: 135px;
	}
	75%{
		width: 125px;
	}
	100% {
		width: 130px;
	}
}