#ucsf {
	> section {
		height: 1180px;

		@include media(tablet) {
			height: 1130px;
		}

		@include media(phone) {
			height: 980px;
		}

		@include media(min) {
			height: 890px;
		}

		figure {
			@include media(tablet) {
				height: 650px;
				width: 100%;
			}
			@include media(phone) {
				height: 500px;
			}
			@include media(min) {
				height: 300px;
			}

			> div {
				$height: 400px;
				$margin-left: 120px;
				$width: 240px;

				background-image: url('../img/ucsf/ucsf-1.png');
				background-repeat: no-repeat;
				background-position: 64% 50%;
				background-size: 400%;
				height: $height;
				margin-left: -$margin-left;
				position: absolute;
					top: 100px;
					left: 50%;
				width: $width;

				@include media(phone) {
					$new-width: 132px;

					height: ($height*$new-width)/$width;
					margin-left: -($new-width/2);
					top: 110px;
					width: $new-width;
				}

				@include media(min) {
					top: 50px;
				}
			}
		}

		ul {
			$width: 200px;
			$margin-left: $width/2;

			margin-left: -$margin-left;
			padding: 0;
			position: absolute;
				bottom: 0;
				left: 50%;
			width: $width;
			white-space: nowrap;

			@include media(min) {
				top: 240px;
			}

			> li {
				background-image: url('../img/ucsf/ucsf-1.png');
				background-repeat: no-repeat;
				background-size: 400%;
				display: inline-block;
				height: 200px;
				list-style-type: none;
				width: $width/4;
			}
		}
	}

	.bacteria-1 {
		background-position: 0% 50%;
	}

	.bacteria-2 {
		background-position: 32% 50%;
	}

	.bacteria-3 {
		background-position: 64% 50%;
	}

	.bacteria-4 {
		background-position: 98% 50%;
	}
}

.touch #ucsf {
	> section {
		height: 880px;

		@include media(tablet) {
			height: 830px;
		}

		@include media(phone) {
			height: 680px;
		}

		@include media(min) {
			height: 590px;
		}
	}
}