.article {

  * + * {
    margin-top: $md;
  }

  .img {
    height: auto;
    width: 300px;

    + .figcaption {
      width: 300px;
    }
  }

  .img-lg {
    height: auto;
    width: 600px;
  }

  .figcaption {
    color: $gray;
    font-size: 14px;
    margin-bottom: $md;
    text-align: center;
  }
}
