.img-codesnippets-hero {
  // scss-lint:disable ColorVariable
  background: #9a57ba;
  // scss-lint:enable ColorVariable
  padding: $lg $lg 0;

  &::after {
    border-bottom: 1px solid rgba($black,.05);
  }

  .video {
    border-radius: $radius-xs $radius-xs 0 0;
    margin-bottom: -1px;
  }
}

.img-nodejs {
  // scss-lint:disable ColorVariable
  background: #c2e2a0;
  // scss-lint:enable ColorVariable
  padding: $lg $lg 0;

  &::after {
    border-bottom: 1px solid rgba($black,.05);
  }
}

.figure-oldsnippets .img {
  border: 1px solid rgba($black,.15);
  width: 450px;
}

.img-profile,
.img-runoptions {
  box-shadow: none;

  &.img-profile {
    max-width: 200px;
  }

  &.img-runoptions {
    max-width: 300px;
  }
}

.figure-mobile .img {
  width: calc(33.3333% - #{$lg});

  + .img {
    margin-left: $lg;
  }
}
