// sections
.hero-codesnippets {
  // scss-lint:disable ColorVariable
  background: linear-gradient(120deg, #422756, #9a57ba);
  // scss-lint:enable ColorVariable
}

.section-hero {
  // scss-lint:disable ColorVariable
  background: linear-gradient(120deg, #422756, #2e1b3d 30%);
  // scss-lint:enable ColorVariable
  color: $white;

  .img {
    max-width: 550px;
  }

  .p {
    opacity: .75;
  }
}

.section-profiles {
  border-radius: 0;
  border-top: 1px solid $gray-light;

  .text-container {
    padding-bottom: $xxl;
  }

  .img-profile {
    align-self: flex-end;
    width: 300px;
  }

  .img-profile-widget {
    max-width: 200px;
  }
}

.section-runoptions {
  border-top: 1px solid $gray-light;

  .img-runoptions {
    max-width: 300px;
  }
}

.section-mobile {
  border-top: 1px solid $gray-light;

  .figure-mobile {
    margin-top: $xl;

    .img {
      width: calc(33.3333% - #{$lg});

      + .img {
        margin-left: $lg;
      }
    }
  }
}

// images
.img-codesnippets-hero {
  border-radius: $radius-sm $radius-sm 0 0;
  margin-bottom: 0;

  &::after {
    border-bottom: 1px solid rgba($black,.05);
  }

  .video {
    border-radius: $radius-sm $radius-sm 0 0;
    box-shadow: 0 6px 30px rgba($black,.3);
    margin-bottom: -1px;
  }
}

.figure-oldsnippets .img {
  border: 1px solid rgba($black,.15);
  width: 450px;
}

.figure-nodejs {
  margin-bottom: 0;
  overflow: hidden;

  .img-nodejs {
    // scss-lint:disable ColorVariable
    background: #c2e2a0;
    // scss-lint:enable ColorVariable
    border-radius: $radius-sm $radius-sm 0 0;
    margin-bottom: 0;
    padding: $lg $lg 0;
  }
}
