.main-landing {
  padding-bottom: $lg;
  padding-top: $xl;

  .container {
    max-width: 450px;
  }

  .text-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    width: 100%;
  }

  .section + .section {
    margin-top: $lg;
  }

  .hero {
    padding-bottom: $lg;
    padding-top: $lg;

    .h1 {
      line-height: 1.1;
      margin-bottom: $sm;
    }
  }

  .emoji-wrapper {
    position: relative;
  }

  .emoji {
    animation: emoji 1s 1000 linear running;
    font-size: 36px;
    opacity: 0;
    position: absolute;

    &:hover,
    &:active {
      animation-play-state: paused;
    }

    @for $i from 0 to 8 {
      &:nth-child(#{$i}) {
        animation-delay: - ((1s / 8) * $i);
      }
    }

    @keyframes emoji {
      0%,
      12.5% {
        opacity: 1;
      }

      12.5000000001% {
        opacity: 0;
      }
    }
  }

  .ol-work {
    list-style: none;
    margin: 0 auto;
    max-width: 450px;

    .li {
      margin: $xl 0;
    }

    .p {
      font-size: 16px;
      letter-spacing: -.4px;
      margin-bottom: $sm;
      margin-top: 6px;
    }

    .img-wrapper {
      border-radius: $radius-sm;
      box-shadow: 0 3px 9px rgba($black,.03);
      margin-bottom: $lg;
      overflow: hidden;
      position: relative;

      &::after {
        border: 1px solid rgba($black,.03);
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }

    .img {
      height: 100%;
      width: 100%;
    }
  }
}
