.main-landing {
  max-width: 450px;

  .section + .section {
    margin-top: $lg;
  }

  .hero {

    .h1,
    .p {
      max-width: 360px;
    }

    .h1 {
      font-size: 24px;

      .emoji {
        font-size: 36px;
      }
    }
  }

  .ul-work {
    line-height: 1.4;
    list-style: none;

    .li + .li {
      margin-top: $lg;
    }

    .a {
      color: $black;

      &:hover,
      &:active {
        color: $purple;
      }
    }

    .img {
      margin-right: $sm;
      opacity: .75;
    }
  }
}
