$card-max-width: 450px;
$card-wrapper-max-width: ($card-max-width * 2) + $lg + ($md * 2);

.main-landing {
  padding: $xxl $md;

  .section + .section {
    margin-top: $lg;
  }

  .hero {
    color: $black;
    margin-bottom: $xl;

    .text-container {
      @media (max-width: $card-wrapper-max-width) {
        padding-left: $lg;
        padding-right: $lg;
      }
    }
  }

  .h1 + .p {
    margin-top: $sm;
  }

  .the-web {
    display: inline-block;
    font-weight: $weight-bold;

    .span {
      animation: rainbow 2s infinite linear;
      // scss-lint:disable VendorPrefix
      -webkit-background-clip: text;
      // scss-lint:enable VendorPrefix
      background-clip: text;
      background-image: linear-gradient(135deg,$purple 0%,$blue 12.5%,$green 25%,$orange 37.5%,$red 50%,$purple 62.5%,$blue 75%,$green 87.5%,$orange 100%);
      background-size: 285% 100%;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
  }

  .section-card-wrapper {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: $card-wrapper-max-width;

    @media (max-width: $card-wrapper-max-width) {
      flex-direction: column;
    }
  }

  .section-card {
    max-width: $card-max-width;

    @media (max-width: $card-wrapper-max-width) {
      margin-left: auto;
      margin-right: auto;
      max-width: 510px;
    }

    &:nth-child(2) {
      @media (min-width: $card-wrapper-max-width + 1px) {
        margin-left: $lg;
      }
    }

    &:nth-child(3) {
      @media (min-width: $card-wrapper-max-width + 1px) {
        margin-top: $lg;
      }
    }

    + .section-card {
      @media (max-width: $card-wrapper-max-width) {
        margin-top: $md;
      }
    }
  }

  .section-runnable,
  .section-codesnippets {
    min-height: 600px;
  }

  .section-runnable {
    // scss-lint:disable ColorVariable
    background: linear-gradient(120deg, #475496, #834fab);
    // scss-lint:enable ColorVariable

    .img {
      height: auto;
      left: 30px;
      pointer-events: none;
      position: absolute;
      top: 290px;
      width: 900px;

      @media (max-width: 470px) {
        top: 360px;
      }
    }
  }

  .section-codesnippets {
    // scss-lint:disable ColorVariable
    background: linear-gradient(120deg, #321f43, #2e1b3b);
    // scss-lint:enable ColorVariable

    .img {
      height: auto;
      left: -210px;
      pointer-events: none;
      position: absolute;
      top: 180px;
      width: 800px;
    }
  }

  .btn-wrapper {
    @media (max-width: 470px) {
      align-items: baseline;
      flex-direction: column;
    }

    .btn + .btn {
      @media (max-width: 470px) {
        margin-left: 0;
      }
    }

    .btn-md + .btn-md {
      @media (max-width: 470px) {
        margin-top: $md;
      }
    }

    .btn-sm + .btn-sm {
      @media (max-width: 470px) {
        margin-top: $sm;
      }
    }
  }

  .section-more {
    margin-top: $xl;

    .h2 {
      font-size: 22px;
      margin-bottom: $md;
      margin-left: auto;
      margin-right: auto;
      max-width: $card-wrapper-max-width;
      text-indent: $lg;

      @media (max-width: $card-wrapper-max-width) {
        max-width: 510px;
      }
    }

    .li {
      border: 1px solid $gray-light;
      color: $black;

      @media (max-width: $card-wrapper-max-width) {
        width: 100%;
      }
    }
  }
}
