// sections
.hero-mulequest {
  // scss-lint:disable ColorVariable
  background: linear-gradient(-180deg, #b5c1c6 60%, #e2a788);
  // scss-lint:enable ColorVariable

  &::before {
    background-image: url(../images/scanlines.svg);
    content: '';
    height: 100%;
    left: 0;
    opacity: .1;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

// images
.img-mulequest-hero {
  border-radius: $radius-sm $radius-sm 0 0;
  // scss-lint:disable ColorVariable
  box-shadow: 0 6px 60px rgba(44,26,54,.5);
  // scss-lint:enable ColorVariable
  margin-bottom: 0;

  &::after {
    border-bottom: 1px solid rgba($black,.05);
  }

  .video {
    border-radius: $radius-sm $radius-sm 0 0;
    height: 100%;
    margin-bottom: -1px;
    max-width: 100%;
  }
}

.figure-mulequest-ui {

  @media (max-width: 990px) {
    flex-direction: column;
  }

  .img {
    margin: $sm;
  }
}
