// images
.img-marketing {
  // scss-lint:disable ColorVariable
  background: #54559c;
  // scss-lint:enable ColorVariable
  padding: $lg $lg 0;

  &::after {
    border-bottom: 1px solid rgba($black,.05);
  }

  .img {
    border-radius: $radius-xs $radius-xs 0 0;
  }
}

.img-product-pages {
  box-shadow: none;
  margin: 0 auto;
  max-width: 300px;
}

.figure-onboarding .img {
  box-shadow: none;
  margin: 0 auto;
  width: 300px;
}

.img-pr,
.img-jira {
  background: $white;
  padding: $lg;

  &.img-jira .img {
    margin: 0 auto;
    max-width: 300px;
  }

  .img {
    box-shadow: none;
  }
}

.img-simple-mode {
  background: $white;
  padding: $md;

  .img {
    box-shadow: none;
  }
}

.img-dockerfile {
  // scss-lint:disable ColorVariable
  background: #402555;
  // scss-lint:enable ColorVariable
  padding: $md 0 $md $md;

  &::after {
    border-right: 1px solid rgba($black,.05);
  }

  .img {
    border-radius: $radius-xs 0 0 $radius-xs;
  }
}
