// sections
.hero-runnable {
  // scss-lint:disable ColorVariable
  background: linear-gradient(120deg, #834fab, #475496);
  // scss-lint:enable ColorVariable

  .img-marketing {
    border-radius: $radius-md $radius-md 0 0;
    margin-bottom: 0;

    &::after {
      border-bottom: 1px solid rgba($black,.05);
    }

    .img {
      display: block;
    }
  }
}

.section-marketing {
  border-bottom: 1px solid $gray-light;

  .figures-marketing {
    margin-top: $xl;
  }

  .img {
    max-width: 300px;

    &:first-child {
      max-height: 325px;
    }

    &:last-child {
      margin-left: $lg;
      max-height: 285px;
    }
  }
}

// images
.figure-onboarding .img {
  box-shadow: none;
  margin: 0 auto;
  width: 300px;
}

.img-pr,
.img-jira {
  background: $white;
  padding: $lg;

  &.img-jira .img {
    margin: 0 auto;
    max-width: 300px;
  }

  .img {
    box-shadow: none;
  }
}

.img-simple-mode {
  background: $white;
  padding: $md;

  .img {
    box-shadow: none;
  }
}

.img-dockerfile {
  // scss-lint:disable ColorVariable
  background: #402555;
  // scss-lint:enable ColorVariable
  padding: $md 0 $md $md;

  &::after {
    border-right: 1px solid rgba($black,.05);
  }

  .img {
    border-radius: $radius-xs 0 0 $radius-xs;
  }
}
