// sections
.hero-runnable {
  // scss-lint:disable ColorVariable
  background: linear-gradient(120deg, #834fab, #475496);
  // scss-lint:enable ColorVariable

  .img-marketing {
    border-radius: $radius-md $radius-md 0 0;
    margin-bottom: 0;

    &::after {
      border-bottom: 1px solid rgba($black,.05);
    }

    .img {
      display: block;
    }
  }
}

.section-marketing {

  .figures-marketing {
    margin-top: $xl;
  }

  .img {
    max-width: 300px;

    &:first-child {
      max-height: 325px;
    }

    &:last-child {
      margin-left: $lg;
      max-height: 285px;
    }
  }
}

.section-blog {
  border-bottom: 1px solid $gray-light;

  .figure-blog {
    // scss-lint:disable ColorVariable
    background: linear-gradient(120deg, #e6d9d7, #e9eaec);
    // scss-lint:enable ColorVariable
    border-radius: $radius-md;
    margin: 0 0 $xl;
    max-width: none;
    padding-bottom: $xl;
    position: relative;

    .img:nth-child(1),
    .img:nth-child(3) {
      border: 1px solid rgba($black,.05);
      border-radius: $radius-md;
      box-shadow: 0 6px 15px rgba($black,.05);
      margin-top: 128px;
      max-width: 200px;
    }

    .img:nth-child(2) {
      margin: -$lg $lg;
      max-width: 250px;
    }
  }
}

.section-dockerfile {
  // scss-lint:disable ColorVariable
  background: linear-gradient(120deg, #475496, #834fab);
  // scss-lint:enable ColorVariable
  color: $white;
  justify-content: flex-end;

  .img {
    max-width: 750px;
  }
}

.section-branches .img {
  height: auto;
  width: 300px;
}

.section-integrations {
  border-bottom: 1px solid $gray-light;
  border-radius: 0;
  border-top: 1px solid $gray-light;

  .figures {
    margin-bottom: $lg;

    .figure {
      margin-left: 0;
      margin-right: 0;

      + .figure {
        margin-left: $lg;
      }
    }
  }

  .figure-app {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    .img-app {
      // scss-lint:disable ColorVariable
      background: #6cda83;
      // scss-lint:enable ColorVariable
      border-radius: $radius-sm;
      margin-bottom: -4px;
      padding: $lg $lg 0;
    }
  }
}

// images
.img-pr,
.img-jira {
  background: $white;
  padding: $lg;

  &.img-jira .img {
    margin: 0 auto;
    max-width: 300px;
  }

  .img {
    box-shadow: none;
  }
}

.img-simple-mode {
  background: $white;
  padding: $md;

  .img {
    box-shadow: none;
  }
}
