.Footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--sans);
  font-weight: var(--weight-normal);
  gap: var(--sm);
  margin-top: auto;
  max-width: 1600px;
  padding: 0 var(--sm);
  justify-content: center;
  width: 100%;

  &-link {
    align-items: center;
    border: 1px solid var(--theme-border);
    border-radius: 30px;
    display: flex;
    font-size: 12px;
    gap: var(--xs);
    height: 30px;
    padding: 0 var(--sm);
    text-decoration: none;
    transition: box-shadow 0.3s var(--timing);

    &-arrow {
      opacity: 0.5;
    }

    &:hover,
    &:active,
    &:focus {
      border-color: blue;
      box-shadow: 0 0 0 3px rgba(blue, 0.15);

      @media (prefers-color-scheme: dark) {
        box-shadow: 0 0 0 3px rgba(blue, 0.5);

        .Footer-link-arrow {
          opacity: 1;
        }
      }

      .Footer-link-arrow {
        color: blue;
      }
    }
  }

  &-emoji {
    display: inline-block;
    font-size: 1.2em;
  }
}
