.Footer {
  align-items: center;
  color: var(--theme-text-minimum);
  display: flex;
  flex-direction: column;
  font-family: var(--sans);
  font-weight: var(--weight-normal);
  gap: var(--sm);
  margin-top: auto;
  max-width: 1600px;
  padding: 0 var(--sm);
  justify-content: center;
  width: 100%;
}
