$card-max-width: 450px;
$card-wrapper-max-width: ($card-max-width * 2) + $lg + ($md * 2);

.main-landing {
  padding: $xxl $md;

  @media (max-width: 480px) {
    padding: $md $sm;
  }

  .section + .section {
    margin-top: $lg;
  }

  .section-intro {
    margin-bottom: $xl;

    .text-container {
      @media (max-width: $card-wrapper-max-width) {
        padding-left: $lg;
        padding-right: $lg;
      }
    }

    .h1 {
      @media (max-width: 480px) {
        font-size: 1.75em;
      }
    }
  }

  .the-web {
    display: inline-block;
    font-weight: $weight-bold;

    .span {
      animation: rainbow 2s infinite linear;
      // scss-lint:disable VendorPrefix
      -webkit-background-clip: text;
      // scss-lint:enable VendorPrefix
      background-clip: text;
      background-image: linear-gradient(135deg,$purple 0%,$blue 12.5%,$green 25%,$orange 37.5%,$red 50%,$purple 62.5%,$blue 75%,$green 87.5%,$orange 100%);
      background-size: 285% 100%;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
  }

  .section-card-wrapper {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: $card-wrapper-max-width - $lg;

    @media (max-width: $card-wrapper-max-width) {
      flex-direction: column;
    }
  }

  .section-card {
    max-width: $card-max-width;
    width: 100%;

    @media (max-width: $card-wrapper-max-width) {
      margin-left: auto;
      margin-right: auto;
      max-width: 510px;
    }

    &:nth-child(2) {
      @media (min-width: $card-wrapper-max-width + 1px) {
        margin-left: $lg;
      }
    }

    &:nth-child(3) {
      @media (min-width: $card-wrapper-max-width + 1px) {
        margin-top: $lg;
      }
    }

    &:nth-child(4) {
      @media (min-width: $card-wrapper-max-width + 1px) {
        margin-left: $lg;
        margin-top: $lg;
      }
    }

    + .section-card {
      @media (max-width: $card-wrapper-max-width) {
        margin-top: $md;
      }
    }
  }

  .section-notorious,
  .section-runnable,
  .section-codesnippets,
  .section-mulequest {
    box-shadow: 0 9px 30px rgba($black,.3), inset -1px -1px 0 rgba($black, .2), inset 1px 0 0 rgba($black, .1);
    min-height: 600px;

    .img {
      height: auto;
      max-width: none;
      pointer-events: none;
      position: absolute;
    }
  }

  .section-runnable {
    // scss-lint:disable ColorVariable
    background: linear-gradient(120deg,#80accb,#ad60e8);
    // scss-lint:enable ColorVariable

    .img {
      left: 30px;
      top: 290px;
      width: 900px;

      @media (max-width: 470px) {
        top: 360px;
      }
    }
  }

  .section-codesnippets {
    // scss-lint:disable ColorVariable
    background: linear-gradient(120deg,#e8a798,#3d1656);
    // scss-lint:enable ColorVariable

    .img {
      left: -210px;
      top: 180px;
      width: 800px;
    }
  }

  .section-mulequest {
    // scss-lint:disable ColorVariable
    background: #b5c1c6;
    // scss-lint:enable ColorVariable

    &::before {
      background-image: url(/images/scanlines.svg);
      content: '';
      height: 100%;
      left: 0;
      opacity: .1;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 0;
    }

    .h2,
    .p {
      position: relative;
      z-index: 1;
    }

    .img {
      left: 0;
      bottom: 20px;
      width: 100%;
    }
  }

  .section-notorious {
    background-image: url(/images/notorious.png);
    background-size: cover;
  }

  .btn-wrapper {
    @media (max-width: 470px) {
      align-items: baseline;
      flex-direction: column;
    }

    .btn + .btn {
      @media (max-width: 470px) {
        margin-left: 0;
      }
    }

    .btn-md + .btn-md {
      @media (max-width: 470px) {
        margin-top: $md;
      }
    }

    .btn-sm + .btn-sm {
      @media (max-width: 470px) {
        margin-top: $sm;
      }
    }
  }

  .section-more {

    @media (min-width: $card-wrapper-max-width + 1px) {
      margin-top: $lg;
    }

    @media (max-width: $card-wrapper-max-width) {
      margin-top: $md;
    }

    .li {
      background: $white;
      border: 1px solid rgba(0,0,0,.075);
      color: $black;

      @media (max-width: $card-wrapper-max-width) {
        width: 100%;
      }
    }
  }
}

.footer {

  .link-icon {
    fill: $gray;

    &:hover,
    &:active,
    &:focus {
      fill: $blue;
    }
  }

  .svg {
    height: 30px;
    width: 30px;
  }
}
