.Flex {
  align-items: var(--flex-align);
  display: flex;
  flex-basis: var(--flex-basis);
  flex-direction: var(--flex-layout);
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);
  flex-wrap: var(--flex-wrap);
  gap: var(--flex-gap);
  justify-content: var(--flex-justify);
}
