.Home {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--xl);
  margin: auto;
  min-height: 100vh;
  padding: 10vh var(--md);

  &-heading {
    font-size: 4em;
    font-weight: var(--weight-normal);
    letter-spacing: -0.2rem;
    line-height: 0.9em;
    max-width: 500px;
    text-align: center;

    &-web {
      animation: rainbow 5s infinite linear;
      display: inline-block;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(
        135deg,
        var(--purple) 0%,
        var(--blue) 12.5%,
        var(--green) 25%,
        var(--orange) 37.5%,
        var(--red) 50%,
        var(--purple) 62.5%,
        var(--blue) 75%,
        var(--green) 87.5%,
        var(--orange) 100%
      );
      background-size: 285% 100%;
      letter-spacing: -0.04rem;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;

      @keyframes rainbow {
        0% {
          background-position: 0 0;
        }

        100% {
          background-position: 100% 0;
        }
      }
    }
  }

  &Work {
    display: flex;
    flex-wrap: wrap;
    gap: var(--md);
    justify-content: center;
    list-style: none;

    &-link {
      display: block;
      position: relative;
      transition: transform 0.15s var(--timing);

      &:hover,
      &:active,
      &:focus {
        transform: translateY(2px);
      }
    }

    &-arrow {
      margin-right: -10px;
      opacity: 0.5;
    }

    &-badge {
      background: var(--theme-bg);
      border: 1px solid transparent;
      border-radius: 8px;
      bottom: -2px;
      box-shadow: inset 0 1px 0 rgba(white, 0.15),
        inset 0 -1px 0 rgba(black, 0.15);
      padding: 3px;
      position: absolute;
      right: -2px;

      &_border {
        border: 1px solid rgba(black, 0.1);
        box-shadow: inset 0 1px 0 rgba(white, 0.15),
          inset 0 -1px 0 rgba(black, 0.1);
      }
    }
  }
}
