.Home {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--xl);
  min-height: 100vh;
  padding: 10vh var(--md) 2.5vh;
}

.Main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--lg);

  &-heading {
    font-family: var(--garamond);
    font-size: 4em;
    font-weight: var(--weight-bold);
    letter-spacing: -0.25rem;
    line-height: 0.9em;
    max-width: 400px;
    text-align: center;

    &-web {
      letter-spacing: -0.04rem;
    }
  }

  &-list {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 5em 0 0;
    max-width: 400px;
    padding: 0;

    @media (max-width: 420px) {
      grid-template-columns: 1fr;
    }
  }
}

.HomeWork {
  display: flex;
  flex-wrap: wrap;
  gap: var(--md);
  justify-content: center;
  list-style: none;

  @media (max-width: 390px) {
    flex-direction: column;
    gap: 50px;
  }

  &-link {
    display: block;
    position: relative;
    transition: transform 0.15s var(--timing);

    &:hover,
    &:active,
    &:focus {
      transform: translateY(2px);
    }
  }

  &-arrow {
    margin-right: -10px;
    opacity: 0.5;
  }

  &-badge {
    background: var(--theme-bg);
    border: 1px solid transparent;
    border-radius: 8px;
    bottom: -2px;
    box-shadow: inset 0 1px 0 rgba(white, 0.15),
      inset 0 -1px 0 rgba(black, 0.15);
    padding: 3px;
    position: absolute;
    right: -2px;

    &_border {
      border: 1px solid rgba(black, 0.1);
      box-shadow: inset 0 1px 0 rgba(white, 0.3), 0 1px 0 rgba(black, 0.25);
    }
  }
}
