.Orbs {
  // readme
  --green: #12ca93;
  --yellow: #f7c543;
  --red: #e95f6a;

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--md);
  height: 100%;
  margin: 0 auto;
  max-width: 700px;
  padding: var(--lg);
  width: 100%;

  &-caption {
    color: var(--theme-text-minimum);
    font-family: var(--sans);
    font-size: 0.75em;
  }
}
